body,td,th {
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#333333;
}

.content{	
font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:17px;
	color:#333333;
	text-decoration:none;
	text-align:justify;
	}
	
body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-color: #CCCCCC;
}

.border1{
border:#999999 solid 1px;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#333333;
	height:17px;
	text-align:center;
	vertical-align:top;
	}
.products{
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#3A4149;
	font-weight:bold
}
.texyt{
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:13px;
	line-height:17px;
	color:#3A4149;
	text-align:justify;
	
}
.left{
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#3A4149;
	font-weight:bold
}

.left a{
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#3A4149;
	font-weight:bold;
	text-decoration:none;
}

.left a:hover{
	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:12px;
	line-height:17px;
	color:#DB2208;
	font-weight:bold;
	text-decoration:underline;
	}
.imgborder{
border:#999999 1px solid;
padding:6px;
}
.heading{	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:17px;
	color:#FF5941;
	text-decoration:none;
	font-weight:bold;
	}
	
	.heading2{	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:17px;
	color:#000000;
	text-decoration:none;
	font-weight:bold;
	}
	
		.heading3{	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:17px;
	color:#333333;
	text-decoration:none;
	font-weight:bold;
	}
			.heading9{	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:14px;
	line-height:17px;
	color:#FF5941;
	text-decoration:none;
	font-weight:bold;
	}
	.heading5{	font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
	font-size:15px;
	line-height:17px;
	color:#FF5941;
	text-decoration:none;
	font-weight:bold;
	}
		.heading5:hover{	

	text-decoration:underline;
	
	}
	
	
	.textfiled {
border:#CCCCCC 1px solid;
color:#000000;
font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
font-size: 11px;
background-color:#FFFFFF
font-weight: normal;
overflow:auto;
height:20px;
margin:2px;
}
.area{
border:#CCCCCC 1px solid;
color:#000000;
font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
font-size: 11px;
background-color:#FFFFFF
font-weight: normal;
overflow:auto;
margin:2px;
}
.sitemap a{
font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
color:#FF5941;
font-size:15px;
text-decoration:none;
line-height:19px;
}
.sitemap a:hover{
font-family:"Trebuchet MS", Arial, Verdana, sans-serif;
color:#333333;
font-size:15px;
text-decoration:underline;
line-height:19px;
}